* {padding:0px; margin:0px; border:none;}
body {
    font-size: 13px;
    font-family: arial,tahoma,verdana,sans-serif;
    color: #333;
    min-width: 978px;
    text-align: left;
}


header{
min-height:50px;
background-color:#000;
color:#fff;
width:100%;
-webkit-box-shadow: 3px 3px 22px 0px rgba(147, 101, 122, 0.75);
-moz-box-shadow:    3px 3px 22px 0px rgba(147, 101, 122, 0.75);
box-shadow:         3px 3px 22px 0px rgba(147, 101, 122, 0.75);
border-radius:4px;
}
.logo{
font-size:14px;
padding:10px;
float:left;

}
.logo a{
color:white;
font-size:20px;
padding:20px;
text-decoration:none;

}
.logo a span {
color:#00FF00;

}
.top-menu{
font-size:14px;
float:left;
}
.top-menu ul{
color:#fff;

}
.top-menu ul li {
	list-style-type:none;
	display:inline-block;
	position:relative;
}
.top-menu ul li li {
display:block;
}
.top-menu ul li a {
	color:#fff;
	text-decoration:none;
	font-size:16px;
	display:block;
	padding:15px;
}
.top-menu ul li a:hover {
background-color:#eee;
color:#333;
}
.top-menu ul li ul {
position:absolute;
display:none;
top:48px;
left:0px;
}
.top-menu ul li:hover ul {
display:block;
z-index:10;
}
.top-menu ul li ul li a{
padding:20px;
display:block;
}

.top-menu ul li ul li a:hover {
background-color:#eee;
color:#333;
}
.top-menu ul li ul  {
background-color: rgba(0,0,0,0.5);
display:none;
}

.container{
width:1024px;
margin:0 auto;
}
.heading  h1{
padding:20px 40px;
z-index:1;
}

.top-menu.user {
float:right;
position:relative;

}
.top-menu.user ul li ul {
position:absolute;
right:0px;
left:auto;
}
.related-images {
width:96%;
height:400px;
padding: 20px;

border-radius:5px;
-webkit-box-shadow: 3px 3px 22px 0px rgba(147, 101, 122, 0.75);
-moz-box-shadow:    3px 3px 22px 0px rgba(147, 101, 122, 0.75);
box-shadow:         3px 3px 22px 0px rgba(147, 101, 122, 0.75);
}


.related-images .image {
width:30%;
height:auto;
float:left;
margin:1.5%;
}


.related-images .image  img {
width:100%;
height:auto;

}
.radio {


}
.radio form p{
padding:10px ;
font-size:16px;
font-weight:bold;

}
.radio form .submit input {
font-size:20px;
background-color:#0099FF;
color:#fff;
border-radius:4px;
padding:10px 20px;
margin:20px;
border:none;
cursor:pointer;


}
.radio form .submit input:hover {
-webkit-box-shadow: 3px 3px 22px 0px rgba(147, 101, 122, 0.75);
-moz-box-shadow:    3px 3px 22px 0px rgba(147, 101, 122, 0.75);
box-shadow:         3px 3px 22px 0px rgba(147, 101, 122, 0.75);
}

.gig {
-webkit-box-shadow: 3px 3px 22px 0px rgba(147, 101, 122, 0.75);
-moz-box-shadow:    3px 3px 22px 0px rgba(147, 101, 122, 0.75);
box-shadow:         3px 3px 22px 0px rgba(147, 101, 122, 0.75);
}
.table1 {
	font-size:14px;
background-color:#fff;
color:#333;
border-radius:4px;
padding:0px;
margin:10px 0px;
border: none;
width: 96%;
height: 130px;
border: none;
}