table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
 

th,td  {
    padding: 5px;
    text-align: center;
 

}

th {
    background-color: grey;
    color: white;
}
tr.border_bottom td {
 border:0px;
}
.as.tab tr{border:0px;}