@import url(http://fonts.googleapis.com/css?family=Open+Sans);
11body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "open Sans";
	background: url(images/Time.jpg) no-repeat center center fixed; 
}
h1, h2, h3, h4, h5, h6, ul, ol, p {
	margin: 0;
	padding: 0;
}
img {
	border: 0
}
a {
	text-decoration: none;
}
.lft {
	float: left;
}
.rgt {
	float: right;
}
.clr {
	clear: both;
}
.wrapper {
	width: 100px;
	height: auto;
}
.inr {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.plan_wrapper {
	width: 100px;
	height: auto;
}
.plan_inr {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Header  Start */
.header {
	background: #fcb315;
	min-height: 4px;
	width: 100%;
	height: auto;
}
/* Top Company Logos */
ul.comp-lgs {
}
ul.comp-lgs li {
	height: 45px;
	overflow: hidden;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	list-style: none;
	float: left;
	border-right: 1px solid #fff;
	display: inline-block;
}
ul.comp-lgs li img {
	margin: 5px 0 0 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.comp-lgs li:hover img {
	margin-top: -45px;
}
/*ul.comp-lgs li:last-child{
	border:none;
}*/
ul.comp-lgs li a {
	display: block;
}
/* User name */
.prfnm {
	font-size: 16px;
	margin-left: 15px;
	padding-top: 3px;
	max-width: 180px;
	width: auto;
}
.prfnm ul li {
	list-style: none;
	float: left;
	margin: 0 5px;
	font-size: 10px;
}
.prfnm ul li:first-child {
	margin-left: 0;
}
.prfnm ul li a {
	color: #000;
}
.prfnm ul li a:hover {
	text-decoration: underline;
}
/* top right icons */
ul.ticns {
}
ul.ticns li {
	list-style: none;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	float: right;
}
ul.ticns li.ic01 {
	background: url(../images/settings.png) no-repeat center;
}
ul.ticns li.ic02 {
	background: url(../images/notifications.png) no-repeat center;
}
ul.ticns li.ic03 {
	background: url(../images/chrt.png) no-repeat center;
}
ul.ticns li.ic04 {
	background: url(../images/note.png) no-repeat center;
}
ul.ticns li:hover.ic01 {
	background: #000 url(../images/settings.png) no-repeat center;
}
ul.ticns li:hover.ic02 {
	background: #000 url(../images/notifications.png) no-repeat center;
}
ul.ticns li:hover.ic03 {
	background: #000 url(../images/chrt.png) no-repeat center;
}
ul.ticns li:hover.ic04 {
	background: #000 url(../images/note.png) no-repeat center;
}
ul.ticns li a {
	display: block;
	width: 21px;
	padding: 0 10px;
}
.notification-alert {
	width: 10px;
	height: 10px;
	float: right;
	background: url(../images/alert.png);
	margin: 12px 0 0 0px;
	position: absolute;
	right: 20%;
}
/* Header  End */
/* hed_bg   Start */
.hed_bg {
	background: #000;
	width: 100%;
	height: auto;
}
.hed_bg h1 {
	font: normal 16px "open Sans";
	color: #fff;
	line-height: 28px;
}
/* hed_bg  End */
.brud_cums {
	width: 100%;
	height: auto;
	border-bottom: solid 1px #a4a4a4;
	float: left;
}
.brud_lft {
	float: left;
	width: 50%;
}
.brud_lft span {
	background: url(../images/star_icon.png) no-repeat left;
	width: 15px;
	height: 20px;
	float: left;
	margin: 3px 0 0 0px;
}
.brud_lft ul {
	list-style: none;
	margin: 3px 0 0 0px;
	padding: 0;
}
.brud_lft ul li {
	float: left;
	margin: 0;
	padding: 0;
}
.brud_lft ul li a {
	margin: 0 0 0 8px;
	padding: 0;
	display: block;
	line-height: 20px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
.brud_lft ul li a span {
	padding-left: 5px;
}
.brud_lft ul li a:hover, .brud_lft ul li a:focus, .brud_lft ul li a.active {
	color: #da8915;
}
.brud_rht {
	float: right;
	width: 50%;
}
.brud_rht ul {
	list-style: none;
	margin: 0 0 0 15px;
	padding: 0;
}
.brud_rht ul li {
	padding: 0 0px;
	margin: 0;
	float: right;
	border-left: solid 1px #333
}
.brud_rht ul li a {
	margin: 0px;
	padding: 5px 10px;
	color: #000;
	text-decoration: none;
	display: block;
	font-size: 12px;
}
.brud_rht ul li:first-child {
	border-right: solid 1px #333;
}
.brud_rht ul li a:hover, .brud_rht ul li a:focus, .brud_rht ul li a.active {
	color: #000;
	background: #fcb315;
}
/* Grids  Start */
.glod_grids {
	width: 100px
}
.inr_body {
	height: auto;
	width: 100%;
	margin: 15px 0 0 0;
	float: left;
}
.grid {
	height: auto;
	width: 100%;
	float: left;
}
.grid th {
	background: #fcb315;
	padding: 3px;
	border-bottom: solid 1px #e1e1e1;
}
.grid td {
	padding: 3px;
	border-bottom: solid 1px #e1e1e1;
}
.grid tr:nth-child(even) {
	background: #fff
}
.grid tr:nth-child(odd) {
	background: #f9f1db
}
/* Grids  End */
/* footer  Start */
.footer {
	background: #fcb315;
	width: 100%;
	height: auto;
	float: left;
	position: fixed;
	bottom: 0;
}
.ftr_lft {
	float: left;
	text-align: right;
	font:  12px "open Sans";
}
.footer p {
	font-size: 11px;
	line-height: 26px;
	margin-left: 20px;
}
.ftr_rht {
	float: right;
	width: 120px;
	background: #FFF;
	text-align: center;
	padding: 5px 0 0px 0;
}
.ftr_rht img {
	width: 73px;
	height: 41px
}
/* footer  End */
/* footer  Start */
.foote {
	background: #fcb315;
	width: 100%;
	height: auto;
	float: left;
	position: fixed;
	bottom: 0;
}
.ft_lft {
	float: left;
	text-align: right;
	font:  12px "open Sans";
}
.foote p {
	font-size: 11px;
	line-height: 26px;
	margin-left: 20px;
}
.ft_rht {
	float: right;
	width: 120px;
	background: #FFF;
	text-align: center;
	padding: 5px 0 0px 0;
}
.ft_rht img {
	width: 73px;
	height: 41px
}
/* footer  End */


@media screen and (max-width: 1003px) {
.inr {
	padding: 0 2%;
	width: 96%
}
}
 @media screen and (min-width: 250px) {
ul.comp-lgs {
	text-align: center;
	border-bottom: 1px solid #fff;
	/*padding-bottom: 15px;
	margin-bottom: 15px;*/
	width: 100%;
}
.prfnm {
	padding: 0 0 15px;
}
ul.comp-lgs li {
	margin: 0 10px;
}
}
 @media screen and (min-width: 460px) {
ul.comp-lgs li {
	width: 92px;
}
}
 @media screen and (max-width: 360px) {
ul.comp-lgs li {
	width: 60px !important;
	margin: 0 !important;
	padding: 0 7px;
}
}
 @media screen and (min-width: 620px) {
ul.comp-lgs {
 text-align:;
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
	width: auto;
}
ul.comp-lgs li {
	border-right: 1px solid #fff;
	margin: 0 0 !important;
	padding: 0;
}
.prfnm {
	padding: 3px 0 0;
}
}
 @media screen and (min-width: 1024px) {
.brud_lft, .brud_rht {
	width: 50% !important;
}
}
 @media screen and (max-width: 600px) {
.brud_lft, .brud_rht {
	display: block;
	width: 100%;
}
.brud_rht {
	border-top: solid 1px #a4a4a4
}
.prfnm {
	margin-top: 10px;
}
}
 @media screen and (max-width: 460px) {
.ftr_rht, .ftr_lft {
	width: 100%;
	float: left;
	text-align: center
}
.footer p {
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}
}
 @media screen and (min-width:640px) and (max-width:767px) {
ul.ticns {
	border-top: solid 1px #fff;
	float: right;
	clear: both;
	width: 100%;
}
ul.ticns li a {
	display: block;
	width: 21px;
	padding: 0 10px;
	float: right;
}
}
@media screen and (max-width: 479px) {
ul.ticns {
	border-top: solid 1px #fff;
	float: right;
	clear: both;
	width: 100%;
}
ul.ticns li a {
	display: block;
	width: 21px;
	padding: 0 10px;
	float: right;
}
}

.div-logo-float {
	float: left;
	opacity: 0.9;
	margin: 10 20;
}

/* Login Part CSS Starts */
.login-main {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.plan-main {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.login-form {
	width: 100%;
	height: auto;
	float: left;
	margin-top:2%;
	margin-left:4%;
}
.plan-form {
	width: 100%;
	height: auto;
	float: left;
	margin-top:2%;
	margin-left:4%;
}


.login-left {
	width: 100%;
	height: auto;
	float: left;
}
.login-left img {
	width: 80%;
	margin-top: 1px;
}
.login-right {
	width: 100%;
	height: auto;
	float: right;
	margin: 5px 0;
}
.plan-right {
	width: 100%;
	height: auto;
	float: right;
	margin: 5px 0;
}

.plan-right-input {
	width: 750;
	height: auto;
	float: left;
}
.plan-right-submit {
	width: 74px;
	height: auto;
	float: left;

}
.login-right-input {
	width: 70%;
	height: auto;
	float: left;
}
.login-right-submit {
	width: auto;
	height: auto;
	float: left;
}

.plan-right-input input[type="text"] {
	width: 150;
	height: auto;
	float: left;
	background: #fcb315;
	border-radius: 15px;
	margin: 0 0 10px 0;
	padding: 8px 0 8px 5%;
	border: none;
	font:  12px "open Sans";
	color: #000;
}
.plan-right-input input[id="datepicker"] {
	width: 150;
	height: auto;
	float: left;
	background: #fcb315;
	border-radius: 15px;
	margin: 0 0 10px 0;
	padding: 8px 0 8px 5%;
	border: none;
	font:  12px "open Sans";
	color: #000;
}
.plan-right-input input[id="datepicker1"] {
	width: 150;
	height: auto;
	float: left;
	background: #fcb315;
	border-radius: 15px;
	margin: 0 0 10px 0;
	padding: 8px 0 8px 5%;
	border: none;
	font:  12px "open Sans";
	color: #000;
}

.login-right-input input[type="text"] {
	width: 92%;
	height: auto;
	float: left;
	background: #fcb315;
	border-radius: 15px;
	margin: 0 0 10px 0;
	padding: 8px 0 8px 5%;
	border: none;
	font:  12px "open Sans";
	color: #000;
}

.login-right-input input[type="password"] {
	width: 92%;
	height: auto;
	float: left;
	background: #fcb315;
	border-radius: 15px;
	margin: 0 0 17px 0;
	padding: 8px 0 8px 5%;
	border: none;
	font:  12px "open Sans";
	color: #000;
	opacity: 1;
}


.login-right-submit input[type="submit"] {
	width: 74px;
	float: left;
	margin: 5px 0 0px 10px;
	padding: 0;
	border: none;
	cursor: pointer;
}

/* Login Part CSS Ends */
@media screen and (max-width:767px) {
.login-main {
	width: 94%;
}
.login-left {
	width: 300px;
	margin: 0 auto;
	float: none;
	text-align: center
}
.login-left img {
	width: 90%;
}
.login-right {
	width: 80%;
	margin: 40px 0;
}
.login-right-input {
	width: 70%;
	margin-right: 20px;
}
.login-right-submit {
	float: left;
	height: auto;
	width: 74px;
}
}
 @media screen and (min-width:50px) and (max-width:639px) {
.login-right {
	width: 100%;
	margin: 40px 0;
}
.login-form {
	margin-top: 1%;
}
}
@media screen and (max-width:346px) {
.login-right-input {
	width: 67%;
	margin-right: 20px;
}
.login-form {
	margin: 25% 0% 0 0%;
	width: 100% !important;
}
.login-form {
}
}
@media screen and (min-width:767px) and (max-width:1023px) {
.login-main {
	width: 730px;
}
.login-left {
	width: 300px;
}
.login-left img {
	width: 100%;
	margin-top: 5px;
}
.login-right {
	width: 400px;
	margin: 0px 0;
}
.login-right-input {
	width: 78%;
}
}
